{% extends "base.html" %}
{% load static %}

{% block content %}
{% if messages %}
    <div class="messages">
        {% for message in messages %}
            <div class="message">{{ message }}</div>
        {% endfor %}
    </div>

    <script>
        setTimeout(function() {
            document.querySelector('.messages').style.display = 'none';
        }, 15000); // 15 secondes
    </script>
{% endif %}
<br><br>
<h1 class="text-capitalize text-center mx-10 bg-dark text-white">LISTE DES ADMINISTRATEURS</h1>

<div class="container mt-5">
    <table class="table table-striped-columns">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nom d'utilisateur</th>
                <th scope="col">Email</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody id="adminTable">
            {% if admins %}
            {% for admin in admins %}
            <tr>
                <th scope="row">{{ admin.id }}</th>
                <td>{{ admin.username }}</td>
                <td>{{ admin.email }}</td>
                <td>
                    <button id="btn-admin-delete" type="button" data-toggle="modal" data-target="#deleteAdminModal"
                        class="badge text-white bg-danger" title="Supprimer" data-id="{{ admin.id }}"
                        data-username="{{ admin.username }}">SUPPRIMER</button>
                </td>
            </tr>
            {% endfor %}
            {% else %}
            <tr>
                <td colspan="4" class="text-center text-white">Aucun administrateur trouvé.</td>
            </tr>
            {% endif %}
        </tbody>
    </table>

    <a href="{% url 'add-admin' %}" class="btn btn-primary">Ajouter un Administrateur</a>
</div>

<br><br>
{% endblock content %}
